# API KEYS
COINGECKO_API_KEY=
EXCHANGERATE_API_KEY=0314e825ca0b59dc01d9729a3dab89bb
FINNHUB_API_KEY=d7aqalpr01qtpbh9fa50d7aqalpr01qtpbh9fa5g

# STORAGE
DATA_PATH=./data
BRONZE_PATH=./data/bronze
SILVER_PATH=./data/silver
GOLD_PATH=./data/gold

# MINIO (future)
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# KAFKA (future)
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_MARKET=market_stream
